@import url('https://fonts.googleapis.com/css?family=Raleway:200');


* {
    margin:0%;
   width: auto;
  }
  html, body{
    overflow-x: hidden;
  }
  /* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(255, 255, 255) rgb(0, 0, 0);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  border: 0px solid rgb(0, 0, 0);
}
#headline{
    background-image: url(earthbg.jpg);
    background-size: cover;
   text-align: center;
   padding-top: 7%;
   padding-bottom: 15%;
   font-size: 400%;
   font-weight: bolder;
   font-family: Arial, Helvetica, sans-serif;
   
   color: rgb(255, 255, 255);

}
.main_text{
  font-size: 50px;
}
.navigationBar{
  width: 100vw;
  height: 100px;
  padding: 0px 80px 0px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  background-color: rgba(255, 255, 255, 0);
  z-index: 100;
}
.logo1{
  background-position: center;
  background-image: url('EDC logo_Prarambh-01.png');
  background-size: cover;
  width: 350px;
  height: 50px;
}
.logo2{
  background-image: url('institute logo_transparent_background.png');
  background-position: center;
  background-size: cover;
  width: 60px;
  height: 65px;
}
.FAQ {
  width: 90vw;
  margin: auto;
  padding: 30px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
.FAQAns{
  color: rgba(240, 255, 251, 0.774);
}
#main{
    text-align: center;
    
    background-image: url(moon.jpg);
    color: white;
    background-size: cover;
    padding-bottom: 20%;
    
}
.top_article{
  width: 60vw;
  margin: auto;
  padding: 30px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
} 

#box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 50px;
  color: white;
  font-family: 'Raleway';
  font-size: 2.5rem;
}
.gradient-border {
  margin: auto;
  --borderWidth: 3px;
  background: #1D1F20;
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}




#x1  { align-items: center;
    text-align: center;
    margin: auto;
    max-width: 80%;
    animation: typing 2s steps(22), blink .5s step-end infinite;
    white-space: nowrap;
    overflow: hidden;
    border-right:0px solid;
    font-family: monospace;
    font-size: 2em;
  }

  #SMP { 
    animation: bl 1s;
    animation-iteration-count: infinite;
}

  @keyframes bl {
    0% {
        filter:hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(60deg);
    }
    100% {
        filter:hue-rotate(140deg);
    }
}









  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: white
    }
  }


 
.timeline-steps { margin-top: 3%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}

.timeline-steps .timeline-step {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1rem
}

@media (min-width:768px) {
    .timeline-steps .timeline-step:not(:last-child):after {
        content: "";
        display: block;
        border-top: .25rem dotted #3b82f6;
        width: 3.46rem;
        position: absolute;
        left: 7.5rem;
        top: .3125rem
    }
    .timeline-steps .timeline-step:not(:first-child):before {
        content: "";
        display: block;
        border-top: .25rem dotted #3b82f6;
        width: 3.8125rem;
        position: absolute;
        right: 7.5rem;
        top: .3125rem
    }
}

.timeline-steps .timeline-content { margin-top: 10%;
    width: 10rem;
    text-align: center
}

.timeline-steps .timeline-content .inner-circle {
    border-radius: 1.5rem;
    height: 1rem;
    width: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #3b82f6
}

.timeline-steps .timeline-content .inner-circle:before {
    content: "";
    background-color: #3b82f6;
    display: inline-block;
    height: 3rem;
    width: 3rem;
    min-width: 3rem;
    border-radius: 6.25rem;
    opacity: .5
}


@media (max-width: 576px) {
  .main_text{
    font-size: 35px;
  }
  .navigationBar{
    width: 100vw;
    height: 50px;
    padding: 0px 30px 0px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    background-color: rgba(255, 255, 255, 0);
    z-index: 100;
  }
  .logo1{
    background-image: url('EDC logo_Prarambh-01.png');
    background-position: center;
    background-size: cover;
    width: 218.75px;
    height: 31.25px;
  }
  .logo2{
    background-image: url('institute logo_transparent_background.png');
    background-position: center;
    background-size: cover;
    width: 30px;
    height: 32.5px;
  }
  #x1  { align-items: center;
    text-align: center;
    margin: auto;
    max-width: 80%;
    animation: typing 2s steps(22), blink .5s step-end infinite;
    white-space: nowrap;
    overflow: hidden;
    border-right:0px solid;
    font-family: monospace;
    font-size: 1.5em;
  }
  .top_article{
    width: 90vw; 
    margin: auto; 
    padding: 31px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }
}
